.home-slide{
    width: 100%;
    background-color: rgb(26, 175, 235);
    padding: 10px;
    color: white;
}
.home-btn1{
    width: 100%;
    height: 70px;
    color: white;
    background-color: rgb(26, 175, 235);
    font-size: 20px;
    border: 2px solid white;
}
.home-btn1:hover{
    background-color: white;
    border: none;
    color: rgb(25, 166, 221);
    transition: 1s;
}
.blueline{
    width: 70px;
    height: 5px;
    background-color: deepskyblue;
    margin: 0 auto;
}
.home-case-img{
    background-color: deepskyblue;
    width: 80px;
    border-radius: 50px;
}
.home-case-detail{
    margin-left: 100px;
    margin-top: -60px;
}
p{
    color: gray;
}
.home-appointment{
    width: 100%;
    background-color: darkslategray;
}
.home-input{
    margin: 80px;
}
.home-input input{
    height: 50px;
}
.home-btn2{
    width: 200px;
    height: 70px;
    background-color: white;
    border: 2px solid rgb(184, 182, 182);
}
.home-medi{
    width: 100%;
    background-color: deepskyblue;
    color: white;
    padding: 80px;
}
.home-medi-img{
    width: 25%;
    height: 37%;
    border-radius: 10px;
    margin-left: 180px;
    margin-top: -50px;    
}
.home-box{
    width: 100%;
    background-color: white;
    margin-top: -10px;
    text-align: center;
    padding: 30px;
}
.whileline{
    width: 80px;
    height: 10px;
    background-color: white;
    border-radius: 4px;
    display: inline-block;
}
.foot-call{
    width: 100%;
    height: 100%;
    background-color: deepskyblue;
    padding: 10px;
}
.home-btn3{
    width: 100%;
    height: 90%;
    /* margin-top: 5px; */
    background-color: deepskyblue;
    color: white;
    border: 2px solid white;
    font-size: 20px;
}
.home-btn3:hover{
    background-color: white;
    color: deepskyblue;
    transition: 1s;
}
.foot-detail{
    width: 100%;
    /* height: 250px; */
    background-color: black;
    border: 1px solid white;
    color: white;
}
.foot-hr{
    width: 230px;
    margin-top: -0px;
}
.foot-name{
    width: 100%;
    height: 50px;
    background-color: rgb(31, 29, 29);
    color: white;
    text-align: center;
    padding: 10px;
}
.feed{
    width: 100%;
    height: 400px;
    background-image: url(../img/feed.jpg);
    position: relative;
    animation: moving 5s;
    animation-iteration-count: 1;
  
}
@keyframes moving {
    0% {top: 0px;left: -100px;}
    25% {left: 300px;}
    50% {left: 0px;top: 0px;}
}
.h01{
    top: 200px;
    left: 30%;
    font-family: serif;
    position: relative;
    animation: move 5s;
    animation-iteration-count: 1;

}
@keyframes move {
    0% {top: -100px;left: 0px;}
    25% {left: 300px;top: 300px;}
    50% {left: 0px;top: 0px;}
}
.img001{
    position: relative;
    left: 20%;
    top: 250px;
    animation: moving 5s;
    animation-iteration-count: 1;
}
.h02{
    position: relative;
    text-align: center;
    font-size: 50px;
    font-family: monospace;

}
@keyframes moving {
    0% {left: -100px;}
    25% {left: 300px;}
    50% {left: 0px;}
}
.submit01{
    width: 150px;
    height: 80px;
    background-color:  rgb(148, 214, 235);
}